@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.college-starting-background {
    background-color: white;
    width: 100vw;
    height: 20vh;

}

.logo-main-image {
    height: 140px;
    width: 280px;
}

.social-logos {
    background-color: #faf7e8;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    border-radius: 40px;
    padding-top: 18px;
    padding-bottom: 16px;
    padding-right: 15px;
    padding-left: 18px;
}

.icons {
    font-size: 28px;
}

.adjustment-first-image {
    height: 160px;
    width: 321px;
}

.college-margin-medium {
    margin-top: 100px;
    margin-left: 15px;
}

.college-nav-background {
    background-color: #0d1057;
}


.college-login-page-background {
    background-color: #faf7e8;
    margin-bottom: 30px;
    padding: 12px;
    border-radius: 10px;
}

.college-login-logo {
    height: 110px;
    width: 120px;
}

.seperate-login-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    height: 200px;
    width: 200px;
}

.college-login-back {
    background-color: white;
    height: 100vh;
}

.text-warn {
    color: red;
}

.inputClass {
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
}